img[alt="auto_fit"]{
	max-width: 100%;
	display:block;
}
img[alt="pic"] { 
  max-width:  500px; 
  display: block;
}
img[alt="pic_700"] { 
  max-width:  700px; 
  display: block;
}
img[alt="pic_800"] { 
  max-width:  800px; 
  display: block;
}
img[alt="pic_600"] { 
  max-width:  600px; 
  display: block;
}

img[alt="pic_400"] { 
  max-width:  400px; 
  display: block;
}

img[alt="pic_300"] { 
  max-width:  300px; 
  display: block;
}

img[alt="pic_200"] { 
  max-width:  200px; 
  display: block;
}

img[alt="level"] { 
  max-width:  120px; 
  
}

span[id="remarks"] { 
  color: red;
  
}
span[id="subtitle"] { 
  font-size: 14pt;
  font-weight: bold;
}

table[id="cus_table"] tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

table[id="cus_table"] tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table[id="cus_table"] tr td { 
 
 border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
  
}
table[id="cus_table"] tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}